# ===== Supabase PostgreSQL =====
# Connection pooling via PgBouncer (para a aplicação rodar)
DATABASE_URL="postgresql://postgres.hebpjnonvchszcrcvchl:SUA-SENHA-AQUI@aws-0-us-east-1.pooler.supabase.com:5432/postgres?pgbouncer=true&connection_limit=1"

# Conexão direta (para migrations)
DATABASE_DIRECT_URL="postgresql://postgres.hebpjnonvchszcrcvchl:SUA-SENHA-AQUI@aws-0-us-east-1.pooler.supabase.com:5432/postgres"

JWT_SECRET="super-secret-jwt-key-barberflow-2024"
JWT_EXPIRATION="15m"
REFRESH_TOKEN_SECRET="super-secret-refresh-key-barberflow-2024"
REFRESH_TOKEN_EXPIRATION="7d"
PORT=3000
